In [1]:
import pandas as pd
import numpy as np

In [48]:
class product_object:
    def __init__(self, product_id , number_of_classes):
        self.product_id = product_id
        self.current_inventory = [0] * number_of_classes ###initiate starting inventory in all three classes
        self.class_log = [] ### initiate a list for storing all the class logs

    def print_class_name(self):
        print(self.product_id)

In [47]:
class class_object:
    def __init__(self, class_id , n_products):
        self.class_id = class_id
        self.current_inventory = np.zeros(n_products)
        self.max_capacity = 984
        self.current_capacity = 0


    ### Inbound handling 
    def stuff_product(self, product_index , number_of_product): 
        spare_room = self.max_capacity - self.current_capacity ### check room left
        product_index = int(product_index) ### convert index to int for indexing

        if spare_room >= number_of_product: ### if enough room
            self.current_inventory[product_index - 1] = self.current_inventory[product_index - 1] + number_of_product
            self.current_capacity = sum(self.current_inventory) ### update capacity
            return 0

        else: ### if not enough room
            self.current_inventory[product_index - 1] = self.current_inventory[product_index - 1] + spare_room ### stuff to max
            self.current_capacity = self.max_capacity ### update capacity
            return number_of_product - spare_room ### return number of products that are not stored
    
    ### Outbound handling
    def take_product(self , product_index , retrival_list):
        
        
        
        
    def return_numbers(self):
        print('current inventory :' , self.current_inventory)
        print('current capacity :' , self.current_capacity)

In [54]:
warehouse = pd.read_csv('data_source/warehouse_data.csv')

In [55]:
warehouse

      day_id  week_id  product_id  quantity type
0          1        1           1        18   IN
1          2        1           1        36   IN
2          2        1           1        15  OUT
3          3        1           1        55   IN
4          3        1           1        39  OUT
...      ...      ...         ...       ...  ...
3323     307       52          14         1  OUT
3324     307       52          15        30   IN
3325     307       52          15         1  OUT
3326     307       52          16         2  OUT
3327     307       52          19         2  OUT

[3328 rows x 5 columns]

In [78]:
def calculate_turnover(df , T):
    df['T_category'] = df['day_id'] / T
    df['T_category'] = df['T_category'].apply(lambda x : int(x) + 1)
    df['']
    
    
    df = df.groupby(['T_category' , 'product_id']).agg({'quantity':'sum'})
    
    return df

In [79]:
calculate_turnover(warehouse , 20)

                       quantity
T_category product_id
1          1                685
           2                 79
           3                333
           4                277
           5                186
...                         ...
16         15                56
           16                20
           17                34
           18                49
           19                17

[316 rows x 1 columns]

In [40]:
### initiate list of top ten products
product_object_list = []
for i in range(1,11):
    product_object_list.append(product_object(f"{i}"))

### initiate list of 4 classes
class_object_list = []
for i in range(1,5):
    class_object_list.append(class_object(f"{i}"))

In [ ]:
for weekly_flow in list(tos_df.groupby('week_id')):
    weekly_df = weekly_flow[1]
    for index, row in weekly_df.iterrows():
        ### handle inbound
        for class_obj in class_object_list:
            print(row)
            print(row['product_id'])
            break
    break

In [49]:
new_class = class_object('class A' , 10)

In [50]:
new_class.stuff_product('1' , 800)

0

In [51]:
new_class.stuff_product('10', 100)

0

In [52]:
new_class.stuff_product('2' , 100)

16.0

In [53]:
new_class.return_numbers()

current inventory : [800.  84.   0.   0.   0.   0.   0.   0.   0. 100.]
current capacity : 984