In [41]:
import pandas as pd
import numpy as np
import importlib

In [68]:
def add_list(lst1 , lst2):
    cumulative_list = []
    for i in range(len(lst1)):
        cumulative_list.append(int(lst1[i] + lst2[i]))
    
    return cumulative_list

In [38]:
def calculate_turnover(df , T, topn, moving_avg = False):
    
    if moving_avg == True:
        demand = df[df['type'] == 'OUT']
        supply = df[df['type'] == 'IN']

        # create a complete day_id for each product
        merged_demand = demand.merge(complete_date, on = ['day_id', 'product_id'], how = 'outer')
        merged_demand = merged_demand.sort_values(['product_id', 'day_id']).reset_index()
        merged_demand = merged_demand[['day_id', 'product_id', 'quantity']]

        # calculate the weekday for each data row
        merged_demand['weekday'] = merged_demand['day_id'] % 6
        merged_demand['week_id'] = (np.ceil(merged_demand['day_id'] / 6)).astype(int)
        merged_demand = merged_demand.fillna(0)

        # calculate the moving average. To concate the data, we rename the column name of moving average to quantity_new
        merged_demand['quantity_new'] = merged_demand.groupby(['product_id', 'weekday'])['quantity'].transform((lambda x: x.rolling(17, 17).mean())).values
        merged_demand['quantity_new'] = merged_demand.groupby(['product_id', 'weekday'])['quantity_new'].shift(1)
        merged_demand = merged_demand.fillna(0)
        merged_demand['type'] = 'OUT'
        merged_demand = merged_demand[['day_id', 'week_id', 'product_id', 'quantity', 'type', 'quantity_new']]
        # merged_demand.head(20)

        # final dataset
        merged_df = pd.concat([supply, merged_demand])
        merged_df = merged_df.sort_values(['product_id', 'day_id']).reset_index()
        merged_df = merged_df.drop('index', axis = 1)
    
        df = merged_df
    else:
        pass
    
    # add minus sign if the type is OUT
    df['quantity_new'] = np.where(df['type'] == 'IN', df['quantity'], df['quantity'] * -1)

    # calculate the net quantity
    calculate_net_quantity = df.groupby(['product_id', 'day_id', 'type'])['quantity_new'].sum()
    calculate_net_quantity = calculate_net_quantity.reset_index().sort_values(['day_id', 'product_id', 'type'])
    calculate_net_quantity['grand total'] = abs(calculate_net_quantity['quantity_new'])
    
    # calculate the turnover rate
    daily_turnover_rate = calculate_net_quantity[['day_id', 'product_id', 'grand total', 'quantity_new']]
    daily_turnover_rate = daily_turnover_rate.groupby(['product_id', 'day_id'])[['quantity_new', 'grand total']].sum()
    daily_turnover_rate['cummulative'] = daily_turnover_rate.groupby(['product_id'])['quantity_new'].cumsum()
    daily_turnover_rate = daily_turnover_rate.reset_index()
    
    # avoid turnover rate from being negative values
    daily_turnover_rate['turnover'] = daily_turnover_rate['grand total'] / (daily_turnover_rate['cummulative'] - daily_turnover_rate['cummulative'].min())
    
    # calculate the frequency based on T
    daily_turnover_rate['frequency'] = (np.ceil(daily_turnover_rate['day_id'] / T)).astype(int)
    
    # sort by frequency
    turnover_rate_series = daily_turnover_rate.groupby(['product_id', 'frequency'])['turnover'].sum() / T
    turnover_rate_df = turnover_rate_series.reset_index()
    result = daily_turnover_rate.merge(turnover_rate_df, on = ['product_id', 'frequency'])

    # select necessary columns
    result['IN'] = (result['grand total'] + result['quantity_new']) / 2
    result['OUT'] = (result['grand total'] - result['quantity_new']) / 2
    result = result[['product_id', 'frequency', 'day_id', 'IN', 'OUT', 'turnover_y']]
    
    # return topn product
    product_list = result['product_id'].unique()
    product_list = product_list[:topn]
    result = result[result['product_id'].isin(product_list)]
    
    return result

In [5]:
class product_object:
    def __init__(self, product_id , number_of_classes):
        self.product_id = product_id
        self.current_inventory = [0] * number_of_classes ###initiate starting inventory in all three classes
        self.class_log = [] ### initiate a list for storing all the class logs

    def update_storage_inbound(self , update_class_log):
        self.current_inventory = add_list(self.current_inventory , update_class_log)
        
    def print_class_name(self):
        print(self.product_id)

In [75]:
class class_object:
    def __init__(self, class_id , n_products , max_capacity = 984):
        self.class_id = class_id
        self.current_inventory = np.zeros(n_products)
        self.max_capacity = max_capacity
        self.current_capacity = 0


    ### Inbound handling 
    def stuff_product(self, product_index , number_of_product): 
        spare_room = self.max_capacity - self.current_capacity ### check room left
        product_index = int(product_index) ### convert index to int for indexing

        if spare_room >= number_of_product: ### if enough room
            self.current_inventory[product_index - 1] = self.current_inventory[product_index - 1] + number_of_product
            self.current_capacity = sum(self.current_inventory) ### update capacity
            return 0

        else: ### if not enough room
            self.current_inventory[product_index - 1] = self.current_inventory[product_index - 1] + spare_room ### stuff to max
            self.current_capacity = self.max_capacity ### update capacity
            return number_of_product - spare_room ### return number of products that are not stored
    
    ### Outbound handling
    #def take_product(self , product_index , retrival_list):
        
        
        
        
    def return_numbers(self):
        print('current inventory :' , self.current_inventory)
        print('current capacity :' , self.current_capacity)

In [39]:
warehouse = pd.read_csv('data_source/warehouse_data.csv')

warehouse_df = calculate_turnover(warehouse , 6 , 10) ### (datasource, T , top_n product)

In [40]:
warehouse_df

      product_id  frequency  day_id    IN    OUT  turnover_y
0              1          1       1  18.0    0.0    0.008964
1              1          1       2  36.0   15.0    0.008964
2              1          1       3  55.0   39.0    0.008964
3              1          1       4   0.0   16.0    0.008964
4              1          1       6   0.0   40.0    0.008964
...          ...        ...     ...   ...    ...         ...
1658          10         45     269   0.0   46.0    0.004689
1659          10         49     291   6.0    0.0    0.000609
1660          10         50     299   0.0  102.0    0.011046
1661          10         51     304   0.0   68.0    0.007705
1662          10         52     307   8.0   34.0    0.004844

[1663 rows x 6 columns]

In [94]:
number_of_classes = 4
number_of_products = 10

### initiate list of 4 classes
class_object_list = []
for i in range(1,5):
    class_object_list.append(class_object(f"{i}" , number_of_products))

### add one backup storage
class_object_list.append(class_object(5 , number_of_products , max_capacity = 100000))
### adjust for backup class
number_of_classes = number_of_classes + 1


### initiate list of top ten products
product_object_list = []
for i in range(1,11):
    product_object_list.append(product_object(f"{i}" , number_of_classes))

### Calculate turnover

In [11]:
turnover_df = calculate_turnover(warehouse , 6 , 10) ### (datasource, T , top_n product)

In [89]:
### for each tenor data
for tenor in list(turnover_df.groupby('frequency')):
    ### sort tenor data with day id and turnover
    tenor_df = tenor[1].sort_values(['day_id' , 'turnover_y'] , ascending = [True, False])
    ### tenor storing log
    tenor_storing_log = [[0] * number_of_classes] * number_of_products
    
    ### for each log
    for index , row in tenor_df.iterrows():
        
        ### handle inbound
        storing_log = [0] * number_of_classes ### document all classes product i is stored
        number_of_product_to_store = row['IN'] ### number of product to store
        number_of_product_to_take = row['OUT'] ### number of product to take
        temp_product_count = number_of_product_to_store
        non_stored = number_of_product_to_store
        product_id = int(row['product_id']) - 1
        
        for class_index in range(len(class_object_list)): ### enumerate through all the classes to store
            ### try to store product into class
            non_stored = class_object_list[class_index].stuff_product(row['product_id'] , non_stored)
            class_i_stored = temp_product_count - non_stored
            storing_log[class_index] =  class_i_stored  ### record log

            ### if completely stored
            if non_stored == 0:
                tenor_storing_log[product_id] = add_list(tenor_storing_log[product_id] , storing_log)
                break

            ### if not enough storage
            else:
                continue
        
        ### handle outbound

In [92]:
class_object_list[0].return_numbers()

current inventory : [334.   0.   0. 277.  94.   0.  17. 130. 132.   0.]
current capacity : 984.0

In [91]:
class_object_list[1].return_numbers()

current inventory : [313. 101.   0. 189. 102.   0.   2. 110. 167.   0.]
current capacity : 984

In [90]:
class_object_list[4].return_numbers()

current inventory : [5622. 1886.    0. 2837. 1321.  793.   70. 2280. 2050.   89.]
current capacity : 16948.0

In [ ]:
 tenor_df.groupby(['frequency' , 'product_id']).agg({'IN':'sum'}).reset_index()

In [ ]:
    ### create product-class table, (ie. product 1 should go to class 1)
    storing_table = [0] * number_of_products

    ### for every product in single tenor(1 day or week or 10 days, etc)
    for index , row in tenor_df.groupby(['frequency' , 'product_id']).agg({'IN':'sum'}).reset_index().iterrows():

        product_left_to_store = row['IN']
        if product_left_to_store == 0 : continue ### if no income, then skip
        temp_list = [0] * number_of_classes ### to store where the products are stored
        class_indexer = 0
        breaker = True
        product_id = int(row['product_id']) - 1

        ### try to stack into classes
        while breaker:
            ### try to store in class [class_indexer]
            store_result = class_object_list[class_indexer].stuff_product(row['product_id'] , product_left_to_store)

            ### if not everything stored
            if store_result != 0:
                temp_list[class_indexer] = product_left_to_store - store_result ### record how many product stored
                product_left_to_store = product_left_to_store - store_result ### update # products left to store
                class_indexer = class_indexer + 1 ### try next class
            ### if everything stored
            else:
                temp_list[class_indexer] = product_left_to_store ### record # products stored
                storing_table[product_id] = temp_list
                breaker = False ### break loop
                break

        ### update into product list
        product_object_list[product_id]

In [ ]:
storing_table

In [ ]:
for tenor_data in list(warehouse_df.groupby('frequency')):
    ### create dataframe for single tenor
    tenor_df = tenor_data[1].groupby(['frequency' , 'product_id']).agg({'IN':'sum'})
    
    ### create product-class table, (ie. product 1 should go to class 1)
    storing_table = [0] * number_of_products

    ### for every product in single tenor(1 day or week or 10 days, etc)
    for index , row in tenor_df.groupby(['frequency' , 'product_id']).agg({'IN':'sum'}).reset_index().iterrows():

        product_left_to_store = row['IN']
        if product_left_to_store == 0 : continue ### if no income, then skip
        temp_list = [0] * number_of_classes ### to store where the products are stored
        class_indexer = 0
        breaker = True
        product_id = int(row['product_id']) - 1

        ### try to stack into classes
        while breaker:
            ### try to store in class [class_indexer]
            store_result = class_object_list[class_indexer].stuff_product(row['product_id'] , product_left_to_store)

            ### if not everything stored
            if store_result != 0:
                temp_list[class_indexer] = product_left_to_store - store_result ### record how many product stored
                product_left_to_store = product_left_to_store - store_result ### update # products left to store
                class_indexer = class_indexer + 1 ### try next class
            ### if everything stored
            else:
                temp_list[class_indexer] = product_left_to_store ### record # products stored
                storing_table[product_id] = temp_list
                breaker = False ### break loop
                break

        ### update into product list
        product_object_list[product_id]
                
            
            
            
        else: ### if it's an outbound log